:root{
  --cor0: #707070;
  --cor1: #c93d30;
  --cor2: #fff;
}

body{
    background-color:light var(--cor0);
}

.line {
    width: 30px;
    transform: rotate(90deg);
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--cor0);
    width: 100%;
    top: 4px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--cor0);
    width: 100%;
    top: 4px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--cor0);
    margin-bottom: 6px;
  }
  
  .stepper-item {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px; 
    color: var(--cor0);
  }
  
  .stepper-item.completed .step-counter {
    background-color: var(--cor1);
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--cor0) ;
    width: 100%;
    top: 4px;
    left: 50%;
    z-index: 1;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

  input {
     height: 29px;
}

.spinners {
     text-align: center; 
     padding-top: 84px; 
}

span{
    font-size:10px;

}

.box{
    padding:5px 0px;
    margin: 2px 0px;
}

.box-part{
    background:var(--cor2);
    border-radius:5px;
    padding:3px 20px;
    margin:6px 0px;
}

div.select {
    background: var(--cor2);
    margin:0px 0px;
    border-radius:5px;
    margin: auto;
   
}

.text{
    margin:2px 0px;
    color: var(--cor0);
    text-align: center;
}

.text h6 {
    font-size: 10px;
    margin:0px;
    color: var(--cor0);
}

