body{
    background-color:light grey;
}

.header h5 {
    font-size: 15px;
}

.header p {
    font-size: 10px;
}

 .vt {
   width: 30px;
   transform: rotate(90deg);
}

.font .text1{
    font-size: 12px;
}

.font .text2{
    font-size: 9px;
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #707070;
    width: 100%;
    top: 4px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #707070;
    width: 100%;
    top: 4px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #707070;
    margin-bottom: 6px;
  }
  
  .stepper-item {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 7px; 
    color: #707070;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #c93d30;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #707070;
    width: 100%;
    top: 4px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }